<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'build/css/main.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {#<link rel="stylesheet" href="{{ asset('web/bundles/sonatacore/vendor/select2-bootstrap-css/select2-bootstrap.min.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('web/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"/>#}
    </head>
    <body>
        {% block body %}
            {% block header %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts
                'build/js/main.js'
                'build/js/jquery.js'
                'build/js/libs.min.js'
                '../../node_modules/bootstrap/dist/js/bootstrap.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {#<script type="text/javascript" src="{{ asset('web/bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>#}
            {#<script type="text/javascript" src="{{ asset('web/bundles/sonatacore/vendor/moment/min/moment-with-locales.min.js') }}"></script>#}
            {#<script type="text/javascript" src="{{ asset('web/bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>#}
            {#<script type="text/javascript" src="{{ asset('web/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>#}

        {% endblock %}
    </body>
</html>
